*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a:link{
    color: black;
}
a:visited {
    color: black;
  }
  
 a:hover {
    
    font-weight: 500;
  }